@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<body class="res layout-subpage">
    <div id="wrapper" class="wrapper-full ">
        <!-- Slider  -->
        <section class="so-slideshow">
            <div id="so-slideshow">
                <div class="module  no-margin">
                    <div class="yt-content-slider yt-content-slider--arrow1" data-autoplay="no" data-autoheight="no"
                         data-delay="4" data-speed="0.6" data-margin="0" data-items_column0="1" data-items_column1="1"
                         data-items_column2="1" data-items_column3="1" data-items_column4="1" data-arrows="yes"
                         data-pagination="no" data-lazyload="yes" data-loop="no" data-hoverpause="yes">
                        <div class="yt-content-slide">
                            <a href="#">
                                <img src="~/image/demo/slider/home7/background-header.png" alt="slider1"
                                     class="img-responsive">
                            </a><br>
                        </div>
                    </div>
                    <div class="loadeding"></div>
                </div>
            </div>

        </section>
        <!-- //end Slider  -->
        <!-- Main Container  -->
        <div class="main-container container">
            <ul class="breadcrumb">
                <li><a href="#"><i class="fa fa-home"></i></a></li>
                <li><a href="#">Giới thiệu</a></li>
            </ul>
            <div class="row">
                <div id="content" class="col-sm-12">

                    <div class="about-us about-demo-1">
                        <div class="row">
                            <div class="col-lg-5 col-md-5 about-image">
                                <img src="~/image/demo/about/wellcometoshop.png"
                                     alt="About Us">
                            </div>
                            <div class="col-lg-7 col-md-7 about-info">
                                <h2 class="about-title"><span>Giới thiệu</span></h2>
                                <div class="about-text">
                                    <p> Đồ án môn học: Lập trình ứng dụng Web </p>
                                    <p>
                                        UITGreen247 - Health for Life là một cửa hàng tiện lợi cung cấp đa dạng các loại
                                        thực phẩm, đặc biệt là thực phẩm tươi sống, giàu dinh dưỡng và an toàn.
                                    </p>
                                    <p> --- </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 what-client-say">
                                <div class="client-say-content">
                                    <h2 class="about-title line-hori"><span>Khách hàng của chúng tôi nói gì?</span></h2>
                                    <div class="client-say-slider">
                                        <div id="ytcs579bfc965e489183711469840534"
                                             class="yt-content-slider owl-theme yt-content-slider-style-1 arrow-default owl2-carousel owl2-theme owl2-loaded"
                                             data-autoplay="no" data-autoheight="no" data-delay="4" data-speed="0.6"
                                             data-margin="30" data-item_lg="1" data-item_sm="1" data-item_xs="1"
                                             data-arrows="no" data-pagination="yes" data-lazyload="yes" data-loop="no"
                                             data-hoverpause="no">
                                            <div class="yt-content-slide yt-clearfix yt-content-wrap">
                                                <div class="item">
                                                    <p class="des-member des-client">
                                                        “Sản phẩm đa dạng, chất lượng đúng
                                                        như mô tả.”
                                                    </p>
                                                    <h3 class="name-member">Chị Ân Hồng Kim Ý</h3>
                                                    <p class="job-member">Khách hàng lâu năm</p>
                                                </div>
                                            </div>

                                            <div class="yt-content-slide yt-clearfix yt-content-wrap">
                                                <div class="item">
                                                    <p class="des-member des-client">
                                                        “Giá cả hợp lý, phù hợp với tất cả
                                                        khách hàng”
                                                    </p>
                                                    <h3 class="name-member">Anh Nguyễn Tấn Ngà</h3>
                                                    <p class="job-member">Khách hàng mới</p>
                                                </div>
                                            </div>

                                            <div class="yt-content-slide yt-clearfix yt-content-wrap">
                                                <div class="item">
                                                    <p class="des-member des-client">
                                                        “Quá tuyệt vời, UITGreen là nhất
                                                        :D”
                                                    </p>
                                                    <h3 class="name-member">Chị Nguyễn Ngọc Tâm</h3>
                                                    <p class="job-member">
                                                        Khách hàng hay đến cửa hàng nhưng không mua gì
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="yt-content-slide yt-clearfix yt-content-wrap">
                                                <div class="item">
                                                    <p class="des-member des-client">
                                                        “Nhìn cửa hàng lớn quá tôi không
                                                        dám bước vào.”
                                                    </p>
                                                    <h3 class="name-member">Anh Phạm Minh Thắng</h3>
                                                    <p class="job-member">Người đi đường</p>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 our-team">
                                <div class="our-team-content">
                                    <h2 class="about-title line-hori"><span>Thành viên</span></h2>
                                    <div class="our-team-slider">
                                        <div id="ytcs579bfc965e78d103041469840534"
                                             class="yt-content-slider owl-theme yt-content-slider-style-1 arrow-default owl2-carousel owl2-theme owl2-loaded"
                                             data-autoplay="yes" data-autoheight="no" data-delay="4" data-speed="0.6"
                                             data-margin="30" data-item_lg="3" data-item_sm="3" data-item_xs="1"
                                             data-arrows="yes" data-pagination="no" data-lazyload="yes" data-loop="yes"
                                             data-hoverpause="no">
                                            <div class="yt-content-slide yt-clearfix yt-content-wrap">
                                                <div class="item">
                                                    <div class="member">
                                                        <div class="member-image">
                                                            <img src="~/image/demo/about/ourmember01.png"
                                                                 alt="Image Client">
                                                        </div>
                                                        <div class="member-info">
                                                            <h3 class="name-member">Phan Tấn Đạt</h3>
                                                            <p class="job-member">Sáng lập</p>
                                                            <p class="des-member">HTTT2019 - 19520457</p>
                                                            <!-- <ul class="social-member">
                                                            <li class="social-icon rss"><a class="fa fa-rss" href="#" title="RSS"><span>RSS</span></a>
                                                            </li>
                                                            <li class="social-icon facebook"><a class="fa fa-facebook" href="#" title="Facebook"><span>Facebook</span></a>
                                                            </li>
                                                            <li class="social-icon twitter"><a class="fa fa-twitter" href="#" title="Twitter"><span>Twitter</span></a>
                                                            </li>
                                                            <li class="social-icon google"><a class="fa fa-google" href="#" title="Google"><span>Google</span></a>
                                                            </li>

                                                        </ul> -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="yt-content-slide yt-clearfix yt-content-wrap">
                                                <div class="item">
                                                    <div class="member">
                                                        <div class="member-image">
                                                            <img src="~/image/demo/about/ourmember02.png"
                                                                 alt="Image Client">
                                                        </div>
                                                        <div class="member-info">
                                                            <h3 class="name-member">Nguyễn Đăng Đô</h3>
                                                            <p class="job-member">Đồng sáng lập</p>
                                                            <p class="des-member">HTTT2019 - 19521364</p>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="yt-content-slide yt-clearfix yt-content-wrap">
                                                <div class="item">
                                                    <div class="member">
                                                        <div class="member-image">
                                                            <img src="~/image/demo/about/ourmember04.png"
                                                                 alt="Image Client">
                                                        </div>
                                                        <div class="member-info">
                                                            <h3 class="name-member">Phạm Bá Vương</h3>
                                                            <p class="job-member">Thành viên</p>
                                                            <p class="des-member">HTTT2019 - 19521119</p>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //Main Container -->
    </div>
</body>