
@{
    ViewData["Title"] = "Home Page";
}
<body class="common-home res layout-home7 ">

	<div id="wrapper" class="wrapper-full banners-effect-7">

		<!-- Block slideshow  -->
		<section class="so-slideshow">
			<div id="so-slideshow">
				<div class="module  no-margin">
					<div class="yt-content-slider yt-content-slider--arrow1" data-autoplay="no" data-autoheight="no"
						data-delay="4" data-speed="0.6" data-margin="0" data-items_column0="1" data-items_column1="1"
						data-items_column2="1" data-items_column3="1" data-items_column4="1" data-arrows="yes"
						data-pagination="no" data-lazyload="yes" data-loop="no" data-hoverpause="yes">
						<div class="yt-content-slide">
							<a href="#"><img src="image/demo/slider/home7/slider-1.jpg" alt="slider1"
									class="img-responsive"></a>
						</div>
						<!-- <div class="yt-content-slide">
							<a href="#"><img src="image/demo/slider/home7/slider-2.jpg" alt="slider2"
									class="img-responsive"></a>
						</div>
						<div class="yt-content-slide">
							<a href="#"><img src="image/demo/slider/home7/slider-3.jpg" alt="slider3"
									class="img-responsive"></a>
						</div> -->
					</div>
					<div class="loadeding"></div>
				</div>
			</div>

		</section>
		<!-- //Block slideshow  -->


		<!-- Main Container  -->
		<div class="main-container ">
			<div class="container">
				<div class="row">
					<div id="content-top" class="clearfix">
						<div class="module banner1-id7">
							<div class="modcontent clearfix">
								<ul class="blank">
									<li class="col-lg-6 col-md-6 col-sm-6 static-image">
										<div class="banners">
											<div>
												<a href="#"><img src="image/demo/cms/home7/image1-id11.jpg"
														alt="banner1"></a>
											</div>
										</div>
									</li>
									<li class="col-lg-6 col-md-6 col-sm-6 static-image">
										<div class="banners">
											<div>
												<a href="#"><img src="image/demo/cms/home7/image2-id11.jpg"
														alt="banner1"></a>
											</div>
										</div>
									</li>

								</ul>

							</div>
						</div>

						<div class="module">
							<div class="modcontent clearfix">
								<div class="services-v1">
									<div class="policy policy1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="policy-inner"><span class="ico-policy"></span>
											<h2>TRẢ HÀNG TRONG 12H</h2><a href="#">Hoàn tiền</a>
										</div>
									</div>
									<div class="policy policy2 col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="policy-inner"><span class="ico-policy"></span><a href="#">
												<h2>MIỄN PHÍ SHIP</h2>Hóa đơn trên 250.000đ
											</a>
										</div>
									</div>
									<div class="policy policy3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="policy-inner"><span class="ico-policy"></span><a href="#">
												<h2>CAM KẾT</h2>Giá rẻ nhất
											</a>
										</div>
									</div>
									<div class="policy policy4 col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="policy-inner"><span class="ico-policy"></span><a href="#">
												<h2>AN TOÀN</h2>Đảm bảo chất lượng
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="module tab-slider titleLine col-xs-12">
							<div id="so_listing_tabs_1" class="so-listing-tabs first-load module">
								<div class="loadeding"></div>
								<div class="ltabs-wrap ">
									<div class="ltabs-tabs-container" data-delay="300" data-duration="600"
										data-effect="starwars" data-ajaxurl="" data-type_source="0" data-lg="5"
										data-md="4" data-sm="2" data-xs="1" data-margin="30">
										<!--Begin Tabs-->
										<div class="ltabs-tabs-wrap">
											<span class="ltabs-tab-selected">SẢN PHẨM MỚI </span> <span
												class="ltabs-tab-arrow">▼</span>
											<div class="item-sub-cat item-sub-cat__divided">
												<ul class="ltabs-tabs cf">
													<li class="ltabs-tab tab-sel" data-category-id="20"
														data-active-content=".items-category-20"> <span
															class="ltabs-tab-label">SẢN PHẨM MỚI </span> </li>
													<li class="ltabs-tab " data-category-id="74"
														data-active-content=".items-category-74"> <span
															class="ltabs-tab-label">XEM NHIỀU NHẤT </span> </li>
													<li class="ltabs-tab " data-category-id="75"
														data-active-content=".items-category-75"> <span
															class="ltabs-tab-label">BÁN CHẠY NHẤT </span> </li>
												</ul>
											</div>
										</div>
										<!-- End Tabs-->
									</div>
									<div class="ltabs-items-container">
										<!--Begin Items-->
										<div class="ltabs-items ltabs-items-loaded ltabs-items-selected items-category-20 grid"
											data-total="10">
											<div class="ltabs-items-inner ltabs-slider ">

												<div class="ltabs-item product-layout">
													<div class="product-item-container">
														<div class="left-block">
															<div class="product-image-container second_img ">
																<img src="image/demo/shop/product/B10.jpg"
																	alt="Apple Cinema 30&quot;"
																	class="img-responsive" />
																<img src="image/demo/shop/product/B9.jpg"
																	alt="Apple Cinema 30&quot;"
																	class="img_0 img-responsive" />
															</div>
															<!--Sale Label-->
															<span class="label label-sale">Giảm giá</span>
															<!--full quick view block-->
															<a class="quickview iframe-link visible-lg"
																data-fancybox-type="iframe" href="quickview.html">
																Quickview</a>
															<!--end full quick view block-->
														</div>
														<div class="right-block">
															<div class="caption">
																<h4><a href="product.html">Comas samer rumas</a></h4>
																<div class="ratings">
																	<div class="rating-box">
																		<span class="fa fa-stack"><i
																				class="fa fa-star fa-stack-1x"></i><i
																				class="fa fa-star-o fa-stack-1x"></i></span>
																		<span class="fa fa-stack"><i
																				class="fa fa-star fa-stack-1x"></i><i
																				class="fa fa-star-o fa-stack-1x"></i></span>
																		<span class="fa fa-stack"><i
																				class="fa fa-star fa-stack-1x"></i><i
																				class="fa fa-star-o fa-stack-1x"></i></span>
																		<span class="fa fa-stack"><i
																				class="fa fa-star fa-stack-1x"></i><i
																				class="fa fa-star-o fa-stack-1x"></i></span>
																		<span class="fa fa-stack"><i
																				class="fa fa-star-o fa-stack-1x"></i></span>
																	</div>
																</div>

																<div class="price">
																	<span class="price-new">$97.00</span>
																</div>
															</div>

															<div class="button-group">
																<button class="addToCart addToCart--notext"
																	type="button" data-toggle="tooltip"
																	title="Add to Cart"
																	onclick="cart.add('42', '1');"><i
																		class="fa fa-shopping-cart"></i> <span>Add to
																		Cart</span></button>
																<button class="wishlist" type="button"
																	data-toggle="tooltip" title="Add to Wish List"
																	onclick="wishlist.add('42');"><i
																		class="fa fa-heart"></i></button>
																<button class="compare" type="button"
																	data-toggle="tooltip" title="Compare this Product"
																	onclick="compare.add('42');"><i
																		class="fa fa-exchange"></i></button>
															</div>
														</div><!-- right block -->
													</div>
												</div>
												<div class="ltabs-item product-layout">
													<div class="product-item-container">
														<div class="left-block">
															<div class="product-image-container second_img ">
																<img src="image/demo/shop/product/w10.jpg"
																	alt="Apple Cinema 30&quot;"
																	class="img-responsive" />
																<img src="image/demo/shop/product/w10.jpg"
																	alt="Apple Cinema 30&quot;"
																	class="img_0 img-responsive" />
															</div>


															<!--full quick view block-->
															<a class="quickview iframe-link visible-lg"
																data-fancybox-type="iframe" href="quickview.html">
																Quickview</a>
															<!--end full quick view block-->
														</div>
														<div class="right-block">
															<div class="caption">
																<h4><a href="product.html">Toma kimas darem </a></h4>
																<div class="ratings">
																	<div class="rating-box">
																		<span class="fa fa-stack"><i
																				class="fa fa-star fa-stack-1x"></i><i
																				class="fa fa-star-o fa-stack-1x"></i></span>
																		<span class="fa fa-stack"><i
																				class="fa fa-star fa-stack-1x"></i><i
																				class="fa fa-star-o fa-stack-1x"></i></span>
																		<span class="fa fa-stack"><i
																				class="fa fa-star fa-stack-1x"></i><i
																				class="fa fa-star-o fa-stack-1x"></i></span>
																		<span class="fa fa-stack"><i
																				class="fa fa-star fa-stack-1x"></i><i
																				class="fa fa-star-o fa-stack-1x"></i></span>
																		<span class="fa fa-stack"><i
																				class="fa fa-star-o fa-stack-1x"></i></span>
																	</div>
																</div>

																<div class="price">
																	<span class="price-new">$97.00</span>
																</div>
															</div>

															<div class="button-group">
																<button class="addToCart addToCart--notext"
																	type="button" data-toggle="tooltip"
																	title="Add to Cart"
																	onclick="cart.add('42', '1');"><i
																		class="fa fa-shopping-cart"></i> <span
																		class="">Add to Cart</span></button>
																<button class="wishlist" type="button"
																	data-toggle="tooltip" title="Add to Wish List"
																	onclick="wishlist.add('42');"><i
																		class="fa fa-heart"></i></button>
																<button class="compare" type="button"
																	data-toggle="tooltip" title="Compare this Product"
																	onclick="compare.add('42');"><i
																		class="fa fa-exchange"></i></button>
															</div>
														</div><!-- right block -->
													</div>
												</div>
												<div class="ltabs-item product-layout">
													<div class="product-item-container">
														<div class="left-block">
															<div class="product-image-container second_img ">
																<img src="image/demo/shop/product/B5.jpg"
																	alt="Apple Cinema 30&quot;"
																	class="img-responsive" />
																<img src="image/demo/shop/product/B10.jpg"
																	alt="Apple Cinema 30&quot;"
																	class="img_0 img-responsive" />
															</div>

															<!--full quick view block-->
															<a class="quickview iframe-link visible-lg"
																data-fancybox-type="iframe" href="quickview.html">
																Quickview</a>
															<!--end full quick view block-->
														</div>
														<div class="right-block">
															<div class="caption">
																<h4><a href="product.html">Gumase sema dumae</a></h4>
																<div class="ratings">
																	<div class="rating-box">
																		<span class="fa fa-stack"><i
																				class="fa fa-star fa-stack-1x"></i><i
																				class="fa fa-star-o fa-stack-1x"></i></span>
																		<span class="fa fa-stack"><i
																				class="fa fa-star fa-stack-1x"></i><i
																				class="fa fa-star-o fa-stack-1x"></i></span>
																		<span class="fa fa-stack"><i
																				class="fa fa-star fa-stack-1x"></i><i
																				class="fa fa-star-o fa-stack-1x"></i></span>
																		<span class="fa fa-stack"><i
																				class="fa fa-star fa-stack-1x"></i><i
																				class="fa fa-star-o fa-stack-1x"></i></span>
																		<span class="fa fa-stack"><i
																				class="fa fa-star-o fa-stack-1x"></i></span>
																	</div>
																</div>

																<div class="price">
																	<span class="price-new">$65.00</span>
																</div>
															</div>

															<div class="button-group">
																<button class="addToCart addToCart--notext"
																	type="button" data-toggle="tooltip"
																	title="Add to Cart"
																	onclick="cart.add('42', '1');"><i
																		class="fa fa-shopping-cart"></i> <span
																		class="">Add to Cart</span></button>
																<button class="wishlist" type="button"
																	data-toggle="tooltip" title="Add to Wish List"
																	onclick="wishlist.add('42');"><i
																		class="fa fa-heart"></i></button>
																<button class="compare" type="button"
																	data-toggle="tooltip" title="Compare this Product"
																	onclick="compare.add('42');"><i
																		class="fa fa-exchange"></i></button>
															</div>
														</div><!-- right block -->
													</div>
												</div>
												<div class="ltabs-item product-layout">
													<div class="product-item-container">
														<div class="left-block">
															<div class="product-image-container second_img ">
																<img src="image/demo/shop/product/J9.jpg"
																	alt="Apple Cinema 30&quot;"
																	class="img-responsive" />
																<img src="image/demo/shop/product/J5.jpg"
																	alt="Apple Cinema 30&quot;"
																	class="img_0 img-responsive" />
															</div>
															<!--Sale Label-->
															<span class="label label-sale">Giảm giá</span>
															<!--full quick view block-->
															<a class="quickview iframe-link visible-lg"
																data-fancybox-type="iframe" href="quickview.html">
																Quickview</a>
															<!--end full quick view block-->
														</div>
														<div class="right-block">
															<div class="caption">
																<h4><a href="product.html">Vimas suma pola</a></h4>
																<div class="ratings">
																	<div class="rating-box">
																		<span class="fa fa-stack"><i
																				class="fa fa-star fa-stack-1x"></i><i
																				class="fa fa-star-o fa-stack-1x"></i></span>
																		<span class="fa fa-stack"><i
																				class="fa fa-star fa-stack-1x"></i><i
																				class="fa fa-star-o fa-stack-1x"></i></span>
																		<span class="fa fa-stack"><i
																				class="fa fa-star fa-stack-1x"></i><i
																				class="fa fa-star-o fa-stack-1x"></i></span>
																		<span class="fa fa-stack"><i
																				class="fa fa-star fa-stack-1x"></i><i
																				class="fa fa-star-o fa-stack-1x"></i></span>
																		<span class="fa fa-stack"><i
																				class="fa fa-star-o fa-stack-1x"></i></span>
																	</div>
																</div>

																<div class="price">
																	<span class="price-new">$50.00</span>
																	<span class="price-old">$62.00</span>
																</div>
															</div>

															<div class="button-group">
																<button class="addToCart addToCart--notext"
																	type="button" data-toggle="tooltip"
																	title="Add to Cart"
																	onclick="cart.add('42', '1');"><i
																		class="fa fa-shopping-cart"></i> <span
																		class="">Add to Cart</span></button>
																<button class="wishlist" type="button"
																	data-toggle="tooltip" title="Add to Wish List"
																	onclick="wishlist.add('42');"><i
																		class="fa fa-heart"></i></button>
																<button class="compare" type="button"
																	data-toggle="tooltip" title="Compare this Product"
																	onclick="compare.add('42');"><i
																		class="fa fa-exchange"></i></button>
															</div>
														</div><!-- right block -->
													</div>
												</div>
												<div class="ltabs-item product-layout">
													<div class="product-item-container">
														<div class="left-block">
															<div class="product-image-container second_img ">
																<img src="image/demo/shop/product/m1.jpg"
																	alt="Apple Cinema 30&quot;"
																	class="img-responsive" />
																<img src="image/demo/shop/product/m3.jpg"
																	alt="Apple Cinema 30&quot;"
																	class="img_0 img-responsive" />
															</div>
															<!--New Label-->
															<span class="label label-new">New</span>
															<!--full quick view block-->
															<a class="quickview iframe-link visible-lg"
																data-fancybox-type="iframe" href="quickview.html">
																Quickview</a>
															<!--end full quick view block-->
														</div>
														<div class="right-block">
															<div class="caption">
																<h4><a href="product.html">Cisi Chicken </a></h4>
																<div class="ratings">
																	<div class="rating-box">
																		<span class="fa fa-stack"><i
																				class="fa fa-star fa-stack-1x"></i><i
																				class="fa fa-star-o fa-stack-1x"></i></span>
																		<span class="fa fa-stack"><i
																				class="fa fa-star fa-stack-1x"></i><i
																				class="fa fa-star-o fa-stack-1x"></i></span>
																		<span class="fa fa-stack"><i
																				class="fa fa-star fa-stack-1x"></i><i
																				class="fa fa-star-o fa-stack-1x"></i></span>
																		<span class="fa fa-stack"><i
																				class="fa fa-star fa-stack-1x"></i><i
																				class="fa fa-star-o fa-stack-1x"></i></span>
																		<span class="fa fa-stack"><i
																				class="fa fa-star-o fa-stack-1x"></i></span>
																	</div>
																</div>

																<div class="price">
																	<span class="price-new">$59.00</span>
																</div>
															</div>

															<div class="button-group">
																<button class="addToCart addToCart--notext"
																	type="button" data-toggle="tooltip"
																	title="Add to Cart"
																	onclick="cart.add('42', '1');"><i
																		class="fa fa-shopping-cart"></i> <span
																		class="">Add to Cart</span></button>
																<button class="wishlist" type="button"
																	data-toggle="tooltip" title="Add to Wish List"
																	onclick="wishlist.add('42');"><i
																		class="fa fa-heart"></i></button>
																<button class="compare" type="button"
																	data-toggle="tooltip" title="Compare this Product"
																	onclick="compare.add('42');"><i
																		class="fa fa-exchange"></i></button>
															</div>
														</div><!-- right block -->
													</div>
												</div>
												<div class="ltabs-item product-layout">
													<div class="product-item-container">
														<div class="left-block">
															<div class="product-image-container second_img ">
																<img src="image/demo/shop/product/e11.jpg"
																	alt="Apple Cinema 30&quot;"
																	class="img-responsive" />
																<img src="image/demo/shop/product/E3.jpg"
																	alt="Apple Cinema 30&quot;"
																	class="img_0 img-responsive" />
															</div>
															<!--Sale Label-->
															<span class="label label-sale">Giảm giá</span>
															<!--full quick view block-->
															<a class="quickview iframe-link visible-lg"
																data-fancybox-type="iframe" href="quickview.html"> Xem
																nhanh</a>
															<!--end full quick view block-->
														</div>
														<div class="right-block">
															<div class="caption">
																<h4><a href="product.html">Apple Cinema 30"</a></h4>
																<div class="ratings">
																	<div class="rating-box">
																		<span class="fa fa-stack"><i
																				class="fa fa-star fa-stack-1x"></i><i
																				class="fa fa-star-o fa-stack-1x"></i></span>
																		<span class="fa fa-stack"><i
																				class="fa fa-star fa-stack-1x"></i><i
																				class="fa fa-star-o fa-stack-1x"></i></span>
																		<span class="fa fa-stack"><i
																				class="fa fa-star fa-stack-1x"></i><i
																				class="fa fa-star-o fa-stack-1x"></i></span>
																		<span class="fa fa-stack"><i
																				class="fa fa-star fa-stack-1x"></i><i
																				class="fa fa-star-o fa-stack-1x"></i></span>
																		<span class="fa fa-stack"><i
																				class="fa fa-star-o fa-stack-1x"></i></span>
																	</div>
																</div>

																<div class="price">
																	<span class="price-new">$50.00</span>
																	<span class="price-old">$62.00</span>
																</div>
															</div>

															<div class="button-group">
																<button class="addToCart addToCart--notext"
																	type="button" data-toggle="tooltip"
																	title="Add to Cart"
																	onclick="cart.add('42', '1');"><i
																		class="fa fa-shopping-cart"></i> <span
																		class="">Add to Cart</span></button>
																<button class="wishlist" type="button"
																	data-toggle="tooltip" title="Add to Wish List"
																	onclick="wishlist.add('42');"><i
																		class="fa fa-heart"></i></button>
																<button class="compare" type="button"
																	data-toggle="tooltip" title="Compare this Product"
																	onclick="compare.add('42');"><i
																		class="fa fa-exchange"></i></button>
															</div>
														</div><!-- right block -->
													</div>
												</div>
											</div>

										</div>

										<div class="ltabs-items items-category-74 products-list  grid" data-total="10">
											<div class="ltabs-loading"></div>
										</div>
										<div class="ltabs-items  items-category-75 products-list  grid" data-total="10">
											<div class="ltabs-loading"></div>
										</div>
									</div>
									<!--End Items-->

								</div>

							</div>
						</div>

						<div class="module static-image col-xs-12 module--4x clearfix">
							<div class="banners">
								<div>
									<a href="#"><img src="image/demo/cms/home7/image3-id11.jpg" alt="banner1"></a>
								</div>
							</div>
						</div>

						<div class="module tab-slider tab-slider--full titleLine container-full">
							<div class="container">
								<h3 class="modtitle">HÀNG MỚI VỀ</h3>
								<div id="so_listing_tabs_2" class="so-listing-tabs first-load module">
									<div class="loadeding"></div>
									<div class="ltabs-wrap ">
										<div class="ltabs-tabs-container" data-delay="300" data-duration="600"
											data-effect="starwars" data-ajaxurl="" data-type_source="0" data-lg="1"
											data-md="1" data-sm="1" data-xs="1" data-margin="0">
											<!--Begin Tabs-->
											<div class="ltabs-tabs-wrap">
												<span class="ltabs-tab-selected">Thực phẩm tươi sống </span> <span
													class="ltabs-tab-arrow">▼</span>
												<div class="item-sub-cat  item-sub-cat__right">
													<ul class="ltabs-tabs cf">
														<li class="ltabs-tab tab-sel" data-category-id="74"
															data-active-content=".items-category-74"> <span
																class="ltabs-tab-label">Thực phẩm tươi sống </span>
														</li>
														<li class="ltabs-tab " data-category-id="72"
															data-active-content=".items-category-72"> <span
																class="ltabs-tab-label">Mẹ và bé </span> </li>
														<li class="ltabs-tab " data-category-id="73"
															data-active-content=".items-category-73"> <span
																class="ltabs-tab-label">Đồ đóng hộp </span> </li>
													</ul>
												</div>
											</div>
											<!-- End Tabs-->
										</div>
										<div class="ltabs-items-container">
											<!--Begin Items-->
											<div class="ltabs-items  ltabs-items-selected items-category-74 grid"
												data-total="10">
												<div class="ltabs-items-inner ltabs-slider ">
													<div class="item-wrap">
														<div class="row">
															<div class="col-md-3 col-xs-12 product-col">
																<div class="ltabs-item product-layout ">
																	<div class="product-item-container">
																		<div class="left-block">
																			<div
																				class="product-image-container second_img ">
																				<img src="image/demo/shop/product/B10.jpg"
																					alt="Apple Cinema 30&quot;"
																					class="img-responsive" />
																				<img src="image/demo/shop/product/B9.jpg"
																					alt="Apple Cinema 30&quot;"
																					class="img_0 img-responsive" />
																			</div>
																			<!--Sale Label-->
																			<span class="label label-sale">Giảm
																				giá</span>
																			<!--full quick view block-->
																			<a class="quickview iframe-link visible-lg"
																				data-fancybox-type="iframe"
																				href="quickview.html"> Xem nhanh</a>
																			<!--end full quick view block-->
																		</div>
																		<div class="right-block">
																			<div class="caption">
																				<h4><a href="product.html">Comas samer
																						rumas</a></h4>
																				<div class="ratings">
																					<div class="rating-box">
																						<span class="fa fa-stack"><i
																								class="fa fa-star fa-stack-1x"></i><i
																								class="fa fa-star-o fa-stack-1x"></i></span>
																						<span class="fa fa-stack"><i
																								class="fa fa-star fa-stack-1x"></i><i
																								class="fa fa-star-o fa-stack-1x"></i></span>
																						<span class="fa fa-stack"><i
																								class="fa fa-star fa-stack-1x"></i><i
																								class="fa fa-star-o fa-stack-1x"></i></span>
																						<span class="fa fa-stack"><i
																								class="fa fa-star fa-stack-1x"></i><i
																								class="fa fa-star-o fa-stack-1x"></i></span>
																						<span class="fa fa-stack"><i
																								class="fa fa-star-o fa-stack-1x"></i></span>
																					</div>
																				</div>

																				<div class="price">
																					<span
																						class="price-new">$97.00</span>
																				</div>
																			</div>

																			<div class="button-group">
																				<button class="addToCart" type="button"
																					data-toggle="tooltip"
																					title="Add to Cart"
																					onclick="cart.add('42', '1');"><i
																						class="fa fa-shopping-cart"></i><span
																						class="hidden-md">Add to
																						Cart</span></button>
																				<button class="wishlist" type="button"
																					data-toggle="tooltip"
																					title="Add to Wish List"
																					onclick="wishlist.add('42');"><i
																						class="fa fa-heart"></i></button>
																				<button class="compare" type="button"
																					data-toggle="tooltip"
																					title="Compare this Product"
																					onclick="compare.add('42');"><i
																						class="fa fa-exchange"></i></button>
																			</div>
																		</div><!-- right block -->
																	</div>
																</div>
																<div class="ltabs-item product-layout">
																	<div class="product-item-container">
																		<div class="left-block">
																			<div
																				class="product-image-container second_img ">
																				<img src="image/demo/shop/product/B5.jpg"
																					alt="Apple Cinema 30&quot;"
																					class="img-responsive" />
																				<img src="image/demo/shop/product/B10.jpg"
																					alt="Apple Cinema 30&quot;"
																					class="img_0 img-responsive" />
																			</div>

																			<!--full quick view block-->
																			<a class="quickview iframe-link visible-lg"
																				data-fancybox-type="iframe"
																				href="quickview.html"> Xem nhanh</a>
																			<!--end full quick view block-->
																		</div>
																		<div class="right-block">
																			<div class="caption">
																				<h4><a href="product.html">Gumase sema
																						dumae</a></h4>
																				<div class="ratings">
																					<div class="rating-box">
																						<span class="fa fa-stack"><i
																								class="fa fa-star fa-stack-1x"></i><i
																								class="fa fa-star-o fa-stack-1x"></i></span>
																						<span class="fa fa-stack"><i
																								class="fa fa-star fa-stack-1x"></i><i
																								class="fa fa-star-o fa-stack-1x"></i></span>
																						<span class="fa fa-stack"><i
																								class="fa fa-star fa-stack-1x"></i><i
																								class="fa fa-star-o fa-stack-1x"></i></span>
																						<span class="fa fa-stack"><i
																								class="fa fa-star fa-stack-1x"></i><i
																								class="fa fa-star-o fa-stack-1x"></i></span>
																						<span class="fa fa-stack"><i
																								class="fa fa-star-o fa-stack-1x"></i></span>
																					</div>
																				</div>

																				<div class="price">
																					<span
																						class="price-new">$65.00</span>
																				</div>
																			</div>

																			<div class="button-group">
																				<button class="addToCart" type="button"
																					data-toggle="tooltip"
																					title="Add to Cart"
																					onclick="cart.add('42', '1');"><i
																						class="fa fa-shopping-cart"></i>
																					<span class="hidden-md">Add to
																						Cart</span></button>
																				<button class="wishlist" type="button"
																					data-toggle="tooltip"
																					title="Add to Wish List"
																					onclick="wishlist.add('42');"><i
																						class="fa fa-heart"></i></button>
																				<button class="compare" type="button"
																					data-toggle="tooltip"
																					title="Compare this Product"
																					onclick="compare.add('42');"><i
																						class="fa fa-exchange"></i></button>
																			</div>
																		</div><!-- right block -->
																	</div>
																</div>
															</div>
															<div class="col-md-6 col-xs-12 ltabs-slider__gallery">
																<div
																	class="ltabs-item product-layout product_1846281811484147376">
																	<div class="product-item-container">
																		<div class="left-block">
																			<div class="product-image-container  ">
																				<img src="image/demo/shop/product/home7/1_3_18.jpg"
																					alt="Apple Cinema 30&quot;"
																					class="img-responsive" />
																			</div>
																			<!--Sale Label-->
																			<span class="label label-sale">Giảm
																				giá</span>
																			<!--full quick view block-->
																			<a class="quickview iframe-link visible-lg"
																				data-fancybox-type="iframe"
																				href="quickview.html"> Xem nhanh</a>
																			<!--end full quick view block-->
																		</div>
																		<div class="right-block">
																			<div class="caption">
																				<h4><a href="product.html">Comas samer
																						rumas nazme</a></h4>
																				<div class="ratings">
																					<div class="rating-box">
																						<span class="fa fa-stack"><i
																								class="fa fa-star fa-stack-1x"></i><i
																								class="fa fa-star-o fa-stack-1x"></i></span>
																						<span class="fa fa-stack"><i
																								class="fa fa-star fa-stack-1x"></i><i
																								class="fa fa-star-o fa-stack-1x"></i></span>
																						<span class="fa fa-stack"><i
																								class="fa fa-star fa-stack-1x"></i><i
																								class="fa fa-star-o fa-stack-1x"></i></span>
																						<span class="fa fa-stack"><i
																								class="fa fa-star fa-stack-1x"></i><i
																								class="fa fa-star-o fa-stack-1x"></i></span>
																						<span class="fa fa-stack"><i
																								class="fa fa-star-o fa-stack-1x"></i></span>
																					</div>
																				</div>

																				<div class="price">
																					<span
																						class="price-new">$97.00</span>
																				</div>
																			</div>

																			<div class="button-group">
																				<button class="addToCart" type="button"
																					data-toggle="tooltip"
																					title="Add to Cart"
																					onclick="cart.add('42', '1');"><i
																						class="fa fa-shopping-cart"></i>
																					<span class="hidden-md">Add to
																						Cart</span></button>
																				<button class="wishlist" type="button"
																					data-toggle="tooltip"
																					title="Add to Wish List"
																					onclick="wishlist.add('42');"><i
																						class="fa fa-heart"></i></button>
																				<button class="compare" type="button"
																					data-toggle="tooltip"
																					title="Compare this Product"
																					onclick="compare.add('42');"><i
																						class="fa fa-exchange"></i></button>
																			</div>
																		</div><!-- right block -->
																		<div class="thumbs-product">
																			<div class="item-img thumb-active"
																				data-src="image/demo/shop/product/home7/1_3_18.jpg">
																				<img src="image/demo/shop/product/resize/1.jpg"
																					alt="image"></div>
																			<div class="item-img"
																				data-src="image/demo/shop/product/home7/2_2_25.jpg">
																				<img src="image/demo/shop/product/resize/2.jpg"
																					alt="image"></div>
																			<div class="item-img "
																				data-src="image/demo/shop/product/home7/3_2_26.jpg">
																				<img src="image/demo/shop/product/resize/3.jpg"
																					alt="image"></div>
																			<div class="item-img"
																				data-src="image/demo/shop/product/home7/4_3_25.jpg">
																				<img src="image/demo/shop/product/resize/4.jpg"
																					alt="image"></div>
																		</div>
																	</div>
																</div>
															</div>

															<div class="col-md-3 col-xs-12 product-col">
																<div class="ltabs-item product-layout ">
																	<div class="product-item-container">
																		<div class="left-block">
																			<div
																				class="product-image-container second_img ">
																				<img src="image/demo/shop/product/W1.jpg"
																					alt="Apple Cinema 30&quot;"
																					class="img-responsive" />
																				<img src="image/demo/shop/product/w10.jpg"
																					alt="Apple Cinema 30&quot;"
																					class="img_0 img-responsive" />
																			</div>

																			<!--full quick view block-->
																			<a class="quickview iframe-link visible-lg"
																				data-fancybox-type="iframe"
																				href="quickview.html"> Xem nhanh</a>
																			<!--end full quick view block-->
																		</div>
																		<div class="right-block">
																			<div class="caption">
																				<h4><a href="product.html">Toma kimas
																						darem </a></h4>
																				<div class="ratings">
																					<div class="rating-box">
																						<span class="fa fa-stack"><i
																								class="fa fa-star fa-stack-1x"></i><i
																								class="fa fa-star-o fa-stack-1x"></i></span>
																						<span class="fa fa-stack"><i
																								class="fa fa-star fa-stack-1x"></i><i
																								class="fa fa-star-o fa-stack-1x"></i></span>
																						<span class="fa fa-stack"><i
																								class="fa fa-star fa-stack-1x"></i><i
																								class="fa fa-star-o fa-stack-1x"></i></span>
																						<span class="fa fa-stack"><i
																								class="fa fa-star fa-stack-1x"></i><i
																								class="fa fa-star-o fa-stack-1x"></i></span>
																						<span class="fa fa-stack"><i
																								class="fa fa-star-o fa-stack-1x"></i></span>
																					</div>
																				</div>

																				<div class="price">
																					<span
																						class="price-new">$97.00</span>
																				</div>
																			</div>

																			<div class="button-group">
																				<button class="addToCart" type="button"
																					data-toggle="tooltip"
																					title="Add to Cart"
																					onclick="cart.add('42', '1');"><i
																						class="fa fa-shopping-cart"></i>
																					<span class="hidden-md">Add to
																						Cart</span></button>
																				<button class="wishlist" type="button"
																					data-toggle="tooltip"
																					title="Add to Wish List"
																					onclick="wishlist.add('42');"><i
																						class="fa fa-heart"></i></button>
																				<button class="compare" type="button"
																					data-toggle="tooltip"
																					title="Compare this Product"
																					onclick="compare.add('42');"><i
																						class="fa fa-exchange"></i></button>
																			</div>
																		</div><!-- right block -->
																	</div>
																</div>

																<div class="ltabs-item product-layout ">
																	<div class="product-item-container">
																		<div class="left-block">
																			<div
																				class="product-image-container second_img ">
																				<img src="image/demo/shop/product/J9.jpg"
																					alt="Apple Cinema 30&quot;"
																					class="img-responsive" />
																				<img src="image/demo/shop/product/J5.jpg"
																					alt="Apple Cinema 30&quot;"
																					class="img_0 img-responsive" />
																			</div>
																			<!--Sale Label-->
																			<span class="label label-sale">Giảm
																				giá</span>
																			<!--full quick view block-->
																			<a class="quickview iframe-link visible-lg"
																				data-fancybox-type="iframe"
																				href="quickview.html"> Xem nhanh</a>
																			<!--end full quick view block-->
																		</div>
																		<div class="right-block">
																			<div class="caption">
																				<h4><a href="product.html">Vimas suma
																						pola</a></h4>
																				<div class="ratings">
																					<div class="rating-box">
																						<span class="fa fa-stack"><i
																								class="fa fa-star fa-stack-1x"></i><i
																								class="fa fa-star-o fa-stack-1x"></i></span>
																						<span class="fa fa-stack"><i
																								class="fa fa-star fa-stack-1x"></i><i
																								class="fa fa-star-o fa-stack-1x"></i></span>
																						<span class="fa fa-stack"><i
																								class="fa fa-star fa-stack-1x"></i><i
																								class="fa fa-star-o fa-stack-1x"></i></span>
																						<span class="fa fa-stack"><i
																								class="fa fa-star fa-stack-1x"></i><i
																								class="fa fa-star-o fa-stack-1x"></i></span>
																						<span class="fa fa-stack"><i
																								class="fa fa-star-o fa-stack-1x"></i></span>
																					</div>
																				</div>

																				<div class="price">
																					<span
																						class="price-new">$50.00</span>
																					<span
																						class="price-old">$62.00</span>
																				</div>
																			</div>

																			<div class="button-group">
																				<button class="addToCart" type="button"
																					data-toggle="tooltip"
																					title="Add to Cart"
																					onclick="cart.add('42', '1');"><i
																						class="fa fa-shopping-cart"></i><span
																						class="hidden-md">Add to
																						Cart</span> </button>
																				<button class="wishlist" type="button"
																					data-toggle="tooltip"
																					title="Add to Wish List"
																					onclick="wishlist.add('42');"><i
																						class="fa fa-heart"></i></button>
																				<button class="compare" type="button"
																					data-toggle="tooltip"
																					title="Compare this Product"
																					onclick="compare.add('42');"><i
																						class="fa fa-exchange"></i></button>
																			</div>
																		</div><!-- right block -->
																	</div>
																</div>
															</div>


														</div>

													</div>
													<div class="item-wrap">
														<div class="row">
															<div class="col-md-3 col-xs-12 product-col">
																<div class="ltabs-item product-layout ">
																	<div class="product-item-container">
																		<div class="left-block">
																			<div
																				class="product-image-container second_img ">
																				<img src="image/demo/shop/product/W1.jpg"
																					alt="Apple Cinema 30&quot;"
																					class="img-responsive" />
																				<img src="image/demo/shop/product/w10.jpg"
																					alt="Apple Cinema 30&quot;"
																					class="img_0 img-responsive" />
																			</div>

																			<!--full quick view block-->
																			<a class="quickview iframe-link visible-lg"
																				data-fancybox-type="iframe"
																				href="quickview.html"> Xem nhanh</a>
																			<!--end full quick view block-->
																		</div>
																		<div class="right-block">
																			<div class="caption">
																				<h4><a href="product.html">Toma kimas
																						darem </a></h4>
																				<div class="ratings">
																					<div class="rating-box">
																						<span class="fa fa-stack"><i
																								class="fa fa-star fa-stack-1x"></i><i
																								class="fa fa-star-o fa-stack-1x"></i></span>
																						<span class="fa fa-stack"><i
																								class="fa fa-star fa-stack-1x"></i><i
																								class="fa fa-star-o fa-stack-1x"></i></span>
																						<span class="fa fa-stack"><i
																								class="fa fa-star fa-stack-1x"></i><i
																								class="fa fa-star-o fa-stack-1x"></i></span>
																						<span class="fa fa-stack"><i
																								class="fa fa-star fa-stack-1x"></i><i
																								class="fa fa-star-o fa-stack-1x"></i></span>
																						<span class="fa fa-stack"><i
																								class="fa fa-star-o fa-stack-1x"></i></span>
																					</div>
																				</div>

																				<div class="price">
																					<span
																						class="price-new">$97.00</span>
																				</div>
																			</div>

																			<div class="button-group">
																				<button class="addToCart" type="button"
																					data-toggle="tooltip"
																					title="Add to Cart"
																					onclick="cart.add('42', '1');"><i
																						class="fa fa-shopping-cart"></i>
																					<span class="hidden-md">Add to
																						Cart</span></button>
																				<button class="wishlist" type="button"
																					data-toggle="tooltip"
																					title="Add to Wish List"
																					onclick="wishlist.add('42');"><i
																						class="fa fa-heart"></i></button>
																				<button class="compare" type="button"
																					data-toggle="tooltip"
																					title="Compare this Product"
																					onclick="compare.add('42');"><i
																						class="fa fa-exchange"></i></button>
																			</div>
																		</div><!-- right block -->
																	</div>
																</div>

																<div class="ltabs-item product-layout ">
																	<div class="product-item-container">
																		<div class="left-block">
																			<div
																				class="product-image-container second_img ">
																				<img src="image/demo/shop/product/J9.jpg"
																					alt="Apple Cinema 30&quot;"
																					class="img-responsive" />
																				<img src="image/demo/shop/product/J5.jpg"
																					alt="Apple Cinema 30&quot;"
																					class="img_0 img-responsive" />
																			</div>
																			<!--Sale Label-->
																			<span class="label label-sale">Giảm
																				giá</span>
																			<!--full quick view block-->
																			<a class="quickview iframe-link visible-lg"
																				data-fancybox-type="iframe"
																				href="quickview.html"> Xem nhanh</a>
																			<!--end full quick view block-->
																		</div>
																		<div class="right-block">
																			<div class="caption">
																				<h4><a href="product.html">Vimas suma
																						pola</a></h4>
																				<div class="ratings">
																					<div class="rating-box">
																						<span class="fa fa-stack"><i
																								class="fa fa-star fa-stack-1x"></i><i
																								class="fa fa-star-o fa-stack-1x"></i></span>
																						<span class="fa fa-stack"><i
																								class="fa fa-star fa-stack-1x"></i><i
																								class="fa fa-star-o fa-stack-1x"></i></span>
																						<span class="fa fa-stack"><i
																								class="fa fa-star fa-stack-1x"></i><i
																								class="fa fa-star-o fa-stack-1x"></i></span>
																						<span class="fa fa-stack"><i
																								class="fa fa-star fa-stack-1x"></i><i
																								class="fa fa-star-o fa-stack-1x"></i></span>
																						<span class="fa fa-stack"><i
																								class="fa fa-star-o fa-stack-1x"></i></span>
																					</div>
																				</div>

																				<div class="price">
																					<span
																						class="price-new">$50.00</span>
																					<span
																						class="price-old">$62.00</span>
																				</div>
																			</div>

																			<div class="button-group">
																				<button class="addToCart" type="button"
																					data-toggle="tooltip"
																					title="Add to Cart"
																					onclick="cart.add('42', '1');"><i
																						class="fa fa-shopping-cart"></i><span
																						class="hidden-md">Add to
																						Cart</span> </button>
																				<button class="wishlist" type="button"
																					data-toggle="tooltip"
																					title="Add to Wish List"
																					onclick="wishlist.add('42');"><i
																						class="fa fa-heart"></i></button>
																				<button class="compare" type="button"
																					data-toggle="tooltip"
																					title="Compare this Product"
																					onclick="compare.add('42');"><i
																						class="fa fa-exchange"></i></button>
																			</div>
																		</div><!-- right block -->
																	</div>
																</div>
															</div>

															<div class="col-md-6 col-xs-12 ltabs-slider__gallery">
																<div
																	class="ltabs-item product-layout product_1846281811484147376">
																	<div class="product-item-container">
																		<div class="left-block">
																			<div class="product-image-container  ">
																				<img src="image/demo/shop/product/home7/1_3_18.jpg"
																					alt="Apple Cinema 30&quot;"
																					class="img-responsive" />
																			</div>
																			<!--Sale Label-->
																			<span class="label label-sale">Giảm
																				giá</span>
																			<!--full quick view block-->
																			<a class="quickview iframe-link visible-lg"
																				data-fancybox-type="iframe"
																				href="quickview.html"> Xem nhanh</a>
																			<!--end full quick view block-->
																		</div>
																		<div class="right-block">
																			<div class="caption">
																				<h4><a href="product.html">Comas samer
																						rumas nazme</a></h4>
																				<div class="ratings">
																					<div class="rating-box">
																						<span class="fa fa-stack"><i
																								class="fa fa-star fa-stack-1x"></i><i
																								class="fa fa-star-o fa-stack-1x"></i></span>
																						<span class="fa fa-stack"><i
																								class="fa fa-star fa-stack-1x"></i><i
																								class="fa fa-star-o fa-stack-1x"></i></span>
																						<span class="fa fa-stack"><i
																								class="fa fa-star fa-stack-1x"></i><i
																								class="fa fa-star-o fa-stack-1x"></i></span>
																						<span class="fa fa-stack"><i
																								class="fa fa-star fa-stack-1x"></i><i
																								class="fa fa-star-o fa-stack-1x"></i></span>
																						<span class="fa fa-stack"><i
																								class="fa fa-star-o fa-stack-1x"></i></span>
																					</div>
																				</div>

																				<div class="price">
																					<span
																						class="price-new">$97.00</span>
																				</div>
																			</div>

																			<div class="button-group">
																				<button class="addToCart" type="button"
																					data-toggle="tooltip"
																					title="Add to Cart"
																					onclick="cart.add('42', '1');"><i
																						class="fa fa-shopping-cart"></i>
																					<span class="hidden-md">Add to
																						Cart</span></button>
																				<button class="wishlist" type="button"
																					data-toggle="tooltip"
																					title="Add to Wish List"
																					onclick="wishlist.add('42');"><i
																						class="fa fa-heart"></i></button>
																				<button class="compare" type="button"
																					data-toggle="tooltip"
																					title="Compare this Product"
																					onclick="compare.add('42');"><i
																						class="fa fa-exchange"></i></button>
																			</div>
																		</div><!-- right block -->
																		<div class="thumbs-product">
																			<div class="item-img thumb-active"
																				data-src="image/demo/shop/product/home7/1_3_18.jpg">
																				<img src="image/demo/shop/product/resize/1.jpg"
																					alt="image"></div>
																			<div class="item-img"
																				data-src="image/demo/shop/product/home7/2_2_25.jpg">
																				<img src="image/demo/shop/product/resize/2.jpg"
																					alt="image"></div>
																			<div class="item-img "
																				data-src="image/demo/shop/product/home7/3_2_26.jpg">
																				<img src="image/demo/shop/product/resize/3.jpg"
																					alt="image"></div>
																			<div class="item-img"
																				data-src="image/demo/shop/product/home7/4_3_25.jpg">
																				<img src="image/demo/shop/product/resize/4.jpg"
																					alt="image"></div>
																		</div>
																	</div>
																</div>
															</div>


															<div class="col-md-3 col-xs-12 product-col">
																<div class="ltabs-item product-layout ">
																	<div class="product-item-container">
																		<div class="left-block">
																			<div
																				class="product-image-container second_img ">
																				<img src="image/demo/shop/product/B10.jpg"
																					alt="Apple Cinema 30&quot;"
																					class="img-responsive" />
																				<img src="image/demo/shop/product/B9.jpg"
																					alt="Apple Cinema 30&quot;"
																					class="img_0 img-responsive" />
																			</div>
																			<!--Sale Label-->
																			<span class="label label-sale">Giảm
																				giá</span>
																			<!--full quick view block-->
																			<a class="quickview iframe-link visible-lg"
																				data-fancybox-type="iframe"
																				href="quickview.html"> Xem nhanh</a>
																			<!--end full quick view block-->
																		</div>
																		<div class="right-block">
																			<div class="caption">
																				<h4><a href="product.html">Comas samer
																						rumas</a></h4>
																				<div class="ratings">
																					<div class="rating-box">
																						<span class="fa fa-stack"><i
																								class="fa fa-star fa-stack-1x"></i><i
																								class="fa fa-star-o fa-stack-1x"></i></span>
																						<span class="fa fa-stack"><i
																								class="fa fa-star fa-stack-1x"></i><i
																								class="fa fa-star-o fa-stack-1x"></i></span>
																						<span class="fa fa-stack"><i
																								class="fa fa-star fa-stack-1x"></i><i
																								class="fa fa-star-o fa-stack-1x"></i></span>
																						<span class="fa fa-stack"><i
																								class="fa fa-star fa-stack-1x"></i><i
																								class="fa fa-star-o fa-stack-1x"></i></span>
																						<span class="fa fa-stack"><i
																								class="fa fa-star-o fa-stack-1x"></i></span>
																					</div>
																				</div>

																				<div class="price">
																					<span
																						class="price-new">$97.00</span>
																				</div>
																			</div>

																			<div class="button-group">
																				<button class="addToCart" type="button"
																					data-toggle="tooltip"
																					title="Add to Cart"
																					onclick="cart.add('42', '1');"><i
																						class="fa fa-shopping-cart"></i><span
																						class="hidden-md">Add to
																						Cart</span></button>
																				<button class="wishlist" type="button"
																					data-toggle="tooltip"
																					title="Add to Wish List"
																					onclick="wishlist.add('42');"><i
																						class="fa fa-heart"></i></button>
																				<button class="compare" type="button"
																					data-toggle="tooltip"
																					title="Compare this Product"
																					onclick="compare.add('42');"><i
																						class="fa fa-exchange"></i></button>
																			</div>
																		</div><!-- right block -->
																	</div>
																</div>
																<div class="ltabs-item product-layout">
																	<div class="product-item-container">
																		<div class="left-block">
																			<div
																				class="product-image-container second_img ">
																				<img src="image/demo/shop/product/B5.jpg"
																					alt="Apple Cinema 30&quot;"
																					class="img-responsive" />
																				<img src="image/demo/shop/product/B10.jpg"
																					alt="Apple Cinema 30&quot;"
																					class="img_0 img-responsive" />
																			</div>

																			<!--full quick view block-->
																			<a class="quickview iframe-link visible-lg"
																				data-fancybox-type="iframe"
																				href="quickview.html"> Xem nhanh</a>
																			<!--end full quick view block-->
																		</div>
																		<div class="right-block">
																			<div class="caption">
																				<h4><a href="product.html">Gumase sema
																						dumae</a></h4>
																				<div class="ratings">
																					<div class="rating-box">
																						<span class="fa fa-stack"><i
																								class="fa fa-star fa-stack-1x"></i><i
																								class="fa fa-star-o fa-stack-1x"></i></span>
																						<span class="fa fa-stack"><i
																								class="fa fa-star fa-stack-1x"></i><i
																								class="fa fa-star-o fa-stack-1x"></i></span>
																						<span class="fa fa-stack"><i
																								class="fa fa-star fa-stack-1x"></i><i
																								class="fa fa-star-o fa-stack-1x"></i></span>
																						<span class="fa fa-stack"><i
																								class="fa fa-star fa-stack-1x"></i><i
																								class="fa fa-star-o fa-stack-1x"></i></span>
																						<span class="fa fa-stack"><i
																								class="fa fa-star-o fa-stack-1x"></i></span>
																					</div>
																				</div>

																				<div class="price">
																					<span
																						class="price-new">$65.00</span>
																				</div>
																			</div>

																			<div class="button-group">
																				<button class="addToCart" type="button"
																					data-toggle="tooltip"
																					title="Add to Cart"
																					onclick="cart.add('42', '1');"><i
																						class="fa fa-shopping-cart"></i>
																					<span class="hidden-md">Add to
																						Cart</span></button>
																				<button class="wishlist" type="button"
																					data-toggle="tooltip"
																					title="Add to Wish List"
																					onclick="wishlist.add('42');"><i
																						class="fa fa-heart"></i></button>
																				<button class="compare" type="button"
																					data-toggle="tooltip"
																					title="Compare this Product"
																					onclick="compare.add('42');"><i
																						class="fa fa-exchange"></i></button>
																			</div>
																		</div><!-- right block -->
																	</div>
																</div>
															</div>


														</div>

													</div>
												</div>

											</div>

											<div class="ltabs-items  items-category-72  products-list grid"
												data-total="11">
												<div class="ltabs-loading"></div>
											</div>
											<div class="ltabs-items items-category-73  products-list grid"
												data-total="11">
												<div class="ltabs-loading"></div>
											</div>

										</div>
										<!--End Items-->


									</div>

								</div>
							</div>
						</div>
					</div>

					<div id="content" class="clearfix">

					</div>



				</div>
			</div>
		</div>
		<!-- //Main Container -->
		<!-- Block Spotlight1  -->
		<section class="so-spotlight1">
			<div class="container">
				<div class="row">
					<div class="module extraslider-home5 titleLine col-xs-12 clearfix">
						<h3 class="modtitle">Hot Sale</h3>
						<div id="so_extraslider1--home7">

							<!-- Begin extraslider-inner -->
							<div class="so-extraslider products-list grid " data-autoplay="no" data-autoheight="no"
								data-delay="4" data-speed="0.6" data-margin="30" data-items_column0="4"
								data-items_column1="4" data-items_column2="3" data-items_column3="2"
								data-items_column4="1" data-arrows="yes" data-pagination="no" data-lazyload="yes"
								data-loop="no" data-hoverpause="yes">
								<!--Begin Items-->
								<div class="ltabs-item product-layout">
									<div class="product-item-container">
										<div class="left-block">
											<div class="product-image-container second_img ">
												<img src="image/demo/shop/product/W1.jpg" alt="Apple Cinema 30&quot;"
													class="img-responsive">
												<img src="image/demo/shop/product/w10.jpg" alt="Apple Cinema 30&quot;"
													class="img_0 img-responsive">
											</div>
											<!--Sale Label-->
											<span class="label label-sale">Giảm giá</span>
											<span class="label label-new">Mới</span>

											<!--full quick view block-->
											<a class="quickview iframe-link visible-lg" data-fancybox-type="iframe"
												href="quickview.html"> Xem nhanh</a>
											<!--end full quick view block-->
										</div>
										<div class="right-block">
											<div class="caption">
												<h4><a href="product.html">Qurem mazem numa </a></h4>
												<div class="ratings">
													<div class="rating-box">
														<span class="fa fa-stack"><i
																class="fa fa-star fa-stack-1x"></i><i
																class="fa fa-star-o fa-stack-1x"></i></span>
														<span class="fa fa-stack"><i
																class="fa fa-star fa-stack-1x"></i><i
																class="fa fa-star-o fa-stack-1x"></i></span>
														<span class="fa fa-stack"><i
																class="fa fa-star fa-stack-1x"></i><i
																class="fa fa-star-o fa-stack-1x"></i></span>
														<span class="fa fa-stack"><i
																class="fa fa-star fa-stack-1x"></i><i
																class="fa fa-star-o fa-stack-1x"></i></span>
														<span class="fa fa-stack"><i
																class="fa fa-star-o fa-stack-1x"></i></span>
													</div>
												</div>

												<div class="price">
													<span class="price-new">$50.00</span>
													<span class="price-old">$62.00</span>
												</div>
											</div>

											<div class="button-group">
												<button class="addToCart addToCart--notext" type="button"
													onclick="cart.add('42', '1');"><i class="fa fa-shopping-cart"></i>
													<span class="button-group__text">Add to Cart</span></button>
												<button class="wishlist" type="button" onclick="wishlist.add('42');"><i
														class="fa fa-heart"></i> </button>
												<button class="compare" type="button" onclick="compare.add('42');"><i
														class="fa fa-exchange"></i> </button>
											</div>
										</div><!-- right block -->
									</div>
								</div>

								<div class="ltabs-item product-layout">
									<div class="product-item-container">
										<div class="left-block">
											<div class="product-image-container second_img ">
												<img src="image/demo/shop/product/B5.jpg" alt="Apple Cinema 30&quot;"
													class="img-responsive">
												<img src="image/demo/shop/product/B10.jpg" alt="Apple Cinema 30&quot;"
													class="img_0 img-responsive">
											</div>
											<!--Sale Label-->
											<span class="label label-new">Mới</span>
											<!--full quick view block-->
											<a class="quickview iframe-link visible-lg" data-fancybox-type="iframe"
												href="quickview.html"> Xem nhanh</a>
											<!--end full quick view block-->
										</div>
										<div class="right-block">
											<div class="caption">
												<h4><a href="product.html">Suma fuma direm </a></h4>
												<div class="ratings">
													<div class="rating-box">
														<span class="fa fa-stack"><i
																class="fa fa-star fa-stack-1x"></i><i
																class="fa fa-star-o fa-stack-1x"></i></span>
														<span class="fa fa-stack"><i
																class="fa fa-star fa-stack-1x"></i><i
																class="fa fa-star-o fa-stack-1x"></i></span>
														<span class="fa fa-stack"><i
																class="fa fa-star fa-stack-1x"></i><i
																class="fa fa-star-o fa-stack-1x"></i></span>
														<span class="fa fa-stack"><i
																class="fa fa-star fa-stack-1x"></i><i
																class="fa fa-star-o fa-stack-1x"></i></span>
														<span class="fa fa-stack"><i
																class="fa fa-star fa-stack-1x"></i><i
																class="fa fa-star-o fa-stack-1x"></i></span>
													</div>
												</div>

												<div class="price">
													<span class="price-new">$150.00</span>

												</div>
											</div>

											<div class="button-group">
												<button class="addToCart addToCart--notext" type="button"
													onclick="cart.add('42', '1');"><i class="fa fa-shopping-cart"></i>
													<span class="button-group__text">Add to Cart</span></button>
												<button class="wishlist" onclick="wishlist.add('42');"><i
														class="fa fa-heart"></i> </button>
												<button class="compare" type="button" onclick="compare.add('42');"><i
														class="fa fa-exchange"></i> </button>
											</div>
										</div><!-- right block -->
									</div>
								</div>
								<div class="ltabs-item product-layout">
									<div class="product-item-container">
										<div class="left-block">
											<div class="product-image-container second_img ">
												<img src="image/demo/shop/product/J9.jpg" alt="Apple Cinema 30&quot;"
													class="img-responsive">
												<img src="image/demo/shop/product/J5.jpg" alt="Apple Cinema 30&quot;"
													class="img_0 img-responsive">
											</div>
											<!--Sale Label-->
											<span class="label label-new">Mới</span>
											<!--full quick view block-->
											<a class="quickview iframe-link visible-lg" data-fancybox-type="iframe"
												href="quickview.html"> Quickview</a>
											<!--end full quick view block-->
										</div>
										<div class="right-block">
											<div class="caption">
												<h4><a href="product.html">Pumasi dema nones </a></h4>
												<div class="ratings">
													<div class="rating-box">
														<span class="fa fa-stack"><i
																class="fa fa-star fa-stack-1x"></i><i
																class="fa fa-star-o fa-stack-1x"></i></span>
														<span class="fa fa-stack"><i
																class="fa fa-star fa-stack-1x"></i><i
																class="fa fa-star-o fa-stack-1x"></i></span>
														<span class="fa fa-stack"><i
																class="fa fa-star fa-stack-1x"></i><i
																class="fa fa-star-o fa-stack-1x"></i></span>
														<span class="fa fa-stack"><i
																class="fa fa-star fa-stack-1x"></i><i
																class="fa fa-star-o fa-stack-1x"></i></span>
														<span class="fa fa-stack"><i
																class="fa fa-star-o fa-stack-1x"></i></span>
													</div>
												</div>

												<div class="price">
													<span class="price-new">$120.00</span>
												</div>
											</div>

											<div class="button-group">
												<button class="addToCart addToCart--notext" type="button"
													onclick="cart.add('42', '1');"><i class="fa fa-shopping-cart"></i>
													<span class="button-group__text">Add to Cart</span></button>
												<button class="wishlist" onclick="wishlist.add('42');"><i
														class="fa fa-heart"></i> </button>
												<button class="compare" type="button" onclick="compare.add('42');"><i
														class="fa fa-exchange"></i> </button>
											</div>
										</div><!-- right block -->
									</div>
								</div>

								<div class="ltabs-item product-layout">
									<div class="product-item-container">
										<div class="left-block">
											<div class="product-image-container ">
												<img src="image/demo/shop/product/m1.jpg" alt="Apple Cinema 30&quot;"
													class="img-responsive">
											</div>
											<!--Sale Label-->
											<span class="label label-sale">Giảm giá</span>
											<!--full quick view block-->
											<a class="quickview iframe-link visible-lg" data-fancybox-type="iframe"
												href="quickview.html"> Quickview</a>
											<!--end full quick view block-->
										</div>
										<div class="right-block">
											<div class="caption">
												<h4><a href="product.html">Taetem hasem razem </a></h4>
												<div class="ratings">
													<div class="rating-box">
														<span class="fa fa-stack"><i
																class="fa fa-star fa-stack-1x"></i><i
																class="fa fa-star-o fa-stack-1x"></i></span>
														<span class="fa fa-stack"><i
																class="fa fa-star fa-stack-1x"></i><i
																class="fa fa-star-o fa-stack-1x"></i></span>
														<span class="fa fa-stack"><i
																class="fa fa-star fa-stack-1x"></i><i
																class="fa fa-star-o fa-stack-1x"></i></span>
														<span class="fa fa-stack"><i
																class="fa fa-star fa-stack-1x"></i><i
																class="fa fa-star-o fa-stack-1x"></i></span>
														<span class="fa fa-stack"><i
																class="fa fa-star-o fa-stack-1x"></i></span>
													</div>
												</div>

												<div class="price">
													<span class="price-new">$120.00</span>
													<span class="price-old">$162.00</span>
												</div>
											</div>

											<div class="button-group">
												<button class="addToCart addToCart--notext" type="button"
													onclick="cart.add('42', '1');"><i class="fa fa-shopping-cart"></i>
													<span class="button-group__text">Add to Cart</span></button>
												<button class="wishlist" onclick="wishlist.add('42');"><i
														class="fa fa-heart"></i> </button>
												<button class="compare" type="button" data-toggle="tooltip"><i
														class="fa fa-exchange"></i> </button>
											</div>
										</div><!-- right block -->
									</div>
								</div>
								<div class="ltabs-item product-layout">
									<div class="product-item-container">
										<div class="left-block">
											<div class="product-image-container second_img ">
												<img src="image/demo/shop/product/e11.jpg" alt="Apple Cinema 30&quot;"
													class="img-responsive">
												<img src="image/demo/shop/product/E3.jpg" alt="Apple Cinema 30&quot;"
													class="img_0 img-responsive">
											</div>
											<!--Sale Label-->
											<!--<span class="label label-sale">Sale</span>-->
											<!--full quick view block-->
											<a class="quickview iframe-link visible-lg" data-fancybox-type="iframe"
												href="quickview.html"> Quickview</a>
											<!--end full quick view block-->
										</div>
										<div class="right-block">
											<div class="caption">
												<h4><a href="product.html">Trai Kuma pekaem </a></h4>
												<div class="ratings">
													<div class="rating-box">
														<span class="fa fa-stack"><i
																class="fa fa-star fa-stack-1x"></i><i
																class="fa fa-star-o fa-stack-1x"></i></span>
														<span class="fa fa-stack"><i
																class="fa fa-star fa-stack-1x"></i><i
																class="fa fa-star-o fa-stack-1x"></i></span>
														<span class="fa fa-stack"><i
																class="fa fa-star fa-stack-1x"></i><i
																class="fa fa-star-o fa-stack-1x"></i></span>
														<span class="fa fa-stack"><i
																class="fa fa-star fa-stack-1x"></i><i
																class="fa fa-star-o fa-stack-1x"></i></span>
														<span class="fa fa-stack"><i
																class="fa fa-star-o fa-stack-1x"></i></span>
													</div>
												</div>
												<div class="price">
													<span class="price-new">$110.00</span>
												</div>
											</div>

											<div class="button-group">
												<button class="addToCart addToCart--notext" type="button"
													onclick="cart.add('42', '1');"><i class="fa fa-shopping-cart"></i>
													<span class="button-group__text">Add to Cart</span></button>
												<button class="wishlist" onclick="wishlist.add('42');"><i
														class="fa fa-heart"></i> </button>
												<button class="compare" type="button"><i class="fa fa-exchange"></i>
												</button>
											</div>
										</div><!-- right block -->
									</div>
								</div>

								<!--End Items-->


							</div>
							<!--End extraslider-inner -->
						</div>
					</div>
					<div class="module col-xs-12 clearfix">
						<div class="modcontent clearfix">

							<div class="yt-content-slider slider-brand--home6" data-autoplay="no" data-autoheight="no"
								data-delay="4" data-speed="0.6" data-margin="15" data-items_column0="7"
								data-items_column1="5" data-items_column2="4" data-items_column3="3"
								data-items_column4="2" data-arrows="yes" data-pagination="no" data-lazyload="yes"
								data-loop="yes" data-hoverpause="yes">
								<div class="item">
									<a title="Brand" href="#"><img src="image/demo/brand/home6/brand-1.jpg"
											alt="Brand"></a>
								</div>
								<div class="item">
									<a title="Brand" href="#"><img src="image/demo/brand/home6/brand-2.jpg"
											alt="Brand"></a>
								</div>
								<div class="item">
									<a title="Brand" href="#"><img src="image/demo/brand/home6/brand-3.jpg"
											alt="Brand"></a>
								</div>
								<div class="item">
									<a title="Brand" href="#"><img src="image/demo/brand/home6/brand-4.jpg"
											alt="Brand"></a>
								</div>
								<div class="item">
									<a title="Brand" href="#"><img src="image/demo/brand/home6/brand-5.jpg"
											alt="Brand"></a>
								</div>
								<div class="item">
									<a title="Brand" href="#"><img src="image/demo/brand/home6/brand-6.jpg"
											alt="Brand"></a>
								</div>
								<div class="item">
									<a title="Brand" href="#"><img src="image/demo/brand/home6/brand-1.jpg"
											alt="Brand"></a>
								</div>
								<div class="item">
									<a title="Brand" href="#"><img src="image/demo/brand/home6/brand-2.jpg"
											alt="Brand"></a>
								</div>
								<div class="item">
									<a title="Brand" href="#"><img src="image/demo/brand/home6/brand-3.jpg"
											alt="Brand"></a>
								</div>
								<div class="item">
									<a title="Brand" href="#"><img src="image/demo/brand/home6/brand-4.jpg"
											alt="Brand"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- //Block Spotlight1  -->

		<!-- Block Spotlight2  -->
		<section class="so-spotlight2">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="module clearfix no-margin-bottom ">
							<div class="modcontent">
								<div class="slider-clientsay">
									<ul id="carousel-custom-dots" class="owl-dots eg-list-inline eg-list-inline-1">
										<li class="owl-dot"><img src="image/demo/clientsay/client-s2.jpg" alt="Client">
										</li>
										<li class="owl-dot"><img src="image/demo/clientsay/client-s1.jpg" alt="Client">
										</li>
										<li class="owl-dot"><img src="image/demo/clientsay/client-s3.jpg" alt="Client">
										</li>
									</ul>
									<div class="slider-clientsay__owl">
										<div class="slider-clientsay__item">
											<div class="slider-clientsay__dec">
												Đa dạng mặt hàng<br>
												Giá cả phải chăng <br>
											</div>
											<div class="slider-clientsay__info">
												<h4>Phan Tấn Đạt</h4>
												<p>TAM BÌNH, VĨNH LONG</p>
											</div>
										</div>

										<div class="slider-clientsay__item">
											<div class="slider-clientsay__dec">
												First time shopping here. I love the shop!<br>
												Its really bright and welcoming. The staff are friendly which is always
												nice. <br>
												The clothes are stylish and affordable. <br>
												Definitely will be shopping here again. My new favorite shop
											</div>
											<div class="slider-clientsay__info">
												<h4>Nguyễn Đăng Đô</h4>
												<p>BẠC LIÊU</p>
											</div>
										</div>

										<div class="slider-clientsay__item">
											<div class="slider-clientsay__dec">
												First time shopping here. I love the shop!<br>
												Its really bright and welcoming. The staff are friendly which is always
												nice. <br>
												The clothes are stylish and affordable. <br>
												Definitely will be shopping here again. My new favorite shop
											</div>
											<div class="slider-clientsay__info">
												<h4>Phạm Bá Vương</h4>
												<p>QUÃNG NGÃI</p>
											</div>
										</div>
									</div>
								</div>


							</div>

						</div>
					</div>


				</div>
			</div>
		</section>
		<!-- //Block Spotlight2  -->

		<script type="text/javascript">
		//  var $typeheader = 'header-home1';

		</script>

		<!-- Footer Container -->
		<footer class="footer-container type_footer4">

			<!-- Footer Top Container -->
			<section class="footer-top">
				<div class="container content">
					<div class="row">
						<div class="col-lg-8 col-md-7 col-sm-12 col-xs-12">
							<div class="module clearfix modLine subscribe-home">
								<h3 class="modtitle">Đăng ký nhận tin tức </h3>
								<div class="modcontent align-center">
									<form class="form subscribe" novalidate="novalidate"
										action="http://magento2.magentech.com/themes/sm_market/newsletter/subscriber/new/"
										method="post" id="newsletter-validate-detail">
										<div class="input-group">
											<input name="email" type="email" class="form-control"
												onfocus="if(this.value=='Nhập địa chỉ email của bạn') this.value='';"
												onblur="if(this.value=='') this.value='Nhập địa chỉ email của bạn';"
												value="Nhập địa chỉ email của bạn"
												data-validate="{required:true, 'validate-email':true}">
											<span class="input-group-btn">
												<button type="submit" class="button-search btn btn-primary"
													name="submit_search">Đăng kí</button>
											</span>
										</div>

									</form>


								</div>
							</div>
						</div>

						<div class="col-lg-4 col-md-5 col-sm-12 col-xs-12">
							<div class="module clearfix modLine footer--social">
								<h3 class="modtitle">Theo dõi ở</h3>
								<div class="modcontent">
									<div class="icons-social">

										<div class="list-inline">
											<a title="Facebook" href="http://www.facebook.com/"
												target="_blank">
												<span class="fa fa-facebook icon-circled icon-color"></span>
											</a>

											<a title="Twitter" href="https://twitter.com/" target="_blank">
												<span class="fa fa-twitter icon-circled icon-color"></span>
											</a>

											<a title="Instagram" href="#" target="_blank">
												<span class="fa fa-instagram icon-circled icon-color"></span>
											</a>


										</div>
									</div>

								</div>
							</div>
						</div>

					</div>
				</div>
			</section>
			<!-- /Footer Top Container -->

			<section class="footer-center">
				<div class=" container">
					<div class="row">
						<div class="col-sm-6 col-md-3 box-information">
							<div class="module clearfix">
								<h3 class="modtitle">THÔNG TIN</h3>
								<div class="modcontent">
									<ul class="menu">
										<li><a href="about-us.html">Giới thiệu</a></li>
										<li><a href="contact.html">Liên hệ</a></li>
										<li><a href="blog-page.html">Tin tức</a></li>
										
									</ul>
								</div>
							</div>
						</div>

						<div class="col-sm-6 col-md-3 box-service">
							<div class="module clearfix">
								<h3 class="modtitle">MUA SẮM</h3>
								<div class="modcontent">
									<ul class="menu">
										<li><a href="contact.html">Giỏ hàng</a></li>
										<li><a href="return.html">Thanh toán</a></li>
										<li><a href="order-history.html">Lịch sử đơn hàng</a></li>
										<li><a href="return.html">Trả hàng</a></li>
									</ul>
								</div>
							</div>
						</div>

						<div class="col-sm-6 col-md-3 box-account">
							<div class="module clearfix">
								<h3 class="modtitle">TÀI KHOẢN</h3>
								<div class="modcontent">
									<ul class="menu">
										<li><a href="#">Thông tin tài khoản</a></li>
										<li><a href="gift-voucher.html">Thẻ quà tặng</a></li>

									</ul>
								</div>
							</div>
						</div>

						<div class="col-sm-6 col-md-3 collapsed-block ">
							<div class="module clearfix">
								<h3 class="modtitle">LIÊN HỆ </h3>
								<div class="modcontent">
									<ul class="contact-address">
										<li><span class="fa fa-map-marker"></span> Khu phố 6, phường Linh Trung, TP. Thủ Đức, TP. Hồ Chí Minh</li>
										<li><span class="fa fa-envelope-o"></span> Email: <a href="#">
												uitgreen247@gmail.com</a></li>
										<li><span class="fa fa-phone">&nbsp;</span> SĐT 1: 0123456789 <br>SĐT 2:
											(123) 4567890</li>
									</ul>
								</div>
							</div>
						</div>

						<hr class="footer-lines no-margin-bottom">
					</div>
				</div>
			</section>

			<!-- Footer Bottom Container -->
			<div class="footer-bottom-block ">
				<div class=" container">
					<div class="row">
						<div class="col-sm-5 copyright-text"> © 2021 Nhóm 4. Trường Đại học Công nghệ Thông tin - ĐHQG
							TP.HCM. </div>
						<div class="col-sm-7">
							<div class="block-payment text-right"><img src="image/demo/content/payment.png"
									alt="payment" title="payment"></div>
						</div>
						<!--Back To Top-->
						<div class="back-to-top"><i class="fa fa-angle-up"></i><span> Lên đầu trang </span></div>

					</div>
				</div>
			</div>
			<!-- /Footer Bottom Container -->


		</footer>
		<!-- //end Footer Container -->

	</div>
	<!-- Social widgets -->
	<section class="social-widgets visible-lg">
		<ul class="items">
			<li class="item item-01 facebook"> <a href="php/facebook.php?account=envato" class="tab-icon"><span
						class="fa fa-facebook"></span></a>
				<div class="tab-content">
					<div class="title">
						<h5>FACEBOOK</h5>
					</div>
					<div class="loading">
						<img src="image/theme/lazy-loader.gif" class="ajaxloader" alt="loader">
					</div>
				</div>
			</li>
			<li class="item item-02 twitter"> <a href="php/twitter.php?account_twitter=envato" class="tab-icon"><span
						class="fa fa-twitter"></span></a>
				<div class="tab-content">
					<div class="title">
						<h5>TWITTER FEEDS</h5>
					</div>
					<div class="loading">
						<img src="image/theme/lazy-loader.gif" class="ajaxloader" alt="loader">
					</div>
				</div>
			</li>
			<li class="item item-03 youtube"> <a href="php/youtubevideo.php?account_video=PY2RLgTmiZY"
					class="tab-icon"><span class="fa fa-youtube"></span></a>
				<div class="tab-content">
					<div class="title">
						<h5>YouTube</h5>
					</div>
					<div class="loading"> <img src="image/theme/lazy-loader.gif" class="ajaxloader" alt="loader"></div>
				</div>
			</li>
		</ul>
	</section> <!-- End Social widgets -->
</body>