@*@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<body class="common-home res layout-subpage banners-effect-6">
	<div id="wrapper" class="wrapper-full ">

		<!-- Main Container  -->
		<div class="main-container container">
			<ul class="breadcrumb">
				<li><a href="home.html"><i class="fa fa-home"></i></a></li>
				<li><a href="blog-page.html">Tin tức</a></li>

			</ul>

			<div class="row">
				<!--Left Part Start -->
				<aside class="col-sm-4 col-md-3" id="column-left">
					<div class="module blog-category titleLine">
						<h3 class="modtitle">Bài viết mới nhất</h3>
						<div class="modcontent">
							<ul class="list-group ">
								<li class="list-group-item"> <a href="blog-detail1.html" class="group-item">Câu chuyện sản
										phẩm - Thịt Lợn</a></li>
								<li class="list-group-item"><a href="blog-detail2.html" class="group-item">Câu chuyện sản
										phẩm - Trứng gà</a></li>
								<li class="list-group-item"><a href="blog-detail3.html" class="group-item">Hướng dẫn rã
										đông thịt lợn đúng cách đảm bảo giá trị dinh dưỡng & độ tươi ngon</a></li>
								<li class="list-group-item"><a href="blog-detail4.html" class="group-item">Cách làm món
										sườn ram siêu ngon</a></li>
							</ul>

						</div>
					</div>

				</aside>

				<!--Middle Part Start-->
				<div id="content" class="col-md-9 col-sm-8">
					<div class="blog-header">
						<h3>Danh sách bài viết</h3>
						<p>UITGreen247 mang đến cho bạn các thông tin về sức khỏe, thực phẩm sạch và bí kíp làm đẹp từ
							thiên nhiên.</p>
					</div>
					<div class="blog-listitem">
						<div class="blog-item ">
							<div class="itemBlogImg col-md-4 col-sm-12">
								<div class="article-image banners">
									<div>
										<a class="popup-gallery"
											href="https://thucphamorganicgreen.com/wp-content/uploads/2020/12/thit-chan-gio-2-1200x900-1.jpg"><img
												src="https://thucphamorganicgreen.com/wp-content/uploads/2020/12/thit-chan-gio-2-1200x900-1.jpg"
												alt="thitlon"></a>
									</div>
								</div>
							</div>
							<div class="itemBlogContent col-md-8 col-sm-12">
								<div class="article-title">
									<h4>
										<a href="blog-detail1.html">Câu chuyện sản phẩm - Thịt Lợn</a>
									</h4>

								</div>
								<div class="article-sub-title">
									<span class="article-date">
										<i class="fa fa-calendar"></i>Thứ Hai, ngày 6 tháng 12 năm 2021
									</span>
								</div>
								<div class="article-description">
									Thịt lợn là nguồn cung cấp protein chính trong các bữa ăn hàng ngày, phù hợp với mọi
									lứa tuổi từ người già đến trẻ em. Tuy nhiên đứng trước nguy cơ dịch bệnh của lợn
									liên tục diễn ra trong những năm gần đây, nhiều gia đình lo ngại không biết ăn nhiều
									thịt lợn có tốt không.</div>
								<div class="blog-meta">
									<span class="comment_count">
										<a href="#">0 Bình luận</a>
									</span>
									<span class="author">
										<span>Viết bởi </span>Đạt Phan
									</span>
								</div>
							</div>
						</div>
						<div class="blog-item ">
							<div class="itemBlogImg col-md-4 col-sm-12">
								<div class="article-image banners">
									<div>
										<a class="popup-gallery"
											href="https://thucphamorganicgreen.com/wp-content/uploads/2020/12/trung-ga-ta-e1552918775512-1200x900-1.jpg"><img
												src="https://thucphamorganicgreen.com/wp-content/uploads/2020/12/trung-ga-ta-e1552918775512-1200x900-1.jpg"
												alt="trungga"></a>
									</div>
								</div>

							</div>
							<div class="itemBlogContent col-md-8 col-sm-12">
								<div class="article-title">
									<h4><a href="blog-detail2.html">Câu chuyện sản phẩm - Trứng gà</a></h4>
								</div>
								<div class="article-sub-title">
									<span class="article-date">
										<i class="fa fa-calendar"></i>Chủ Nhật, ngày 5 tháng 12 năm 2021
									</span>
								</div>
								<div class="article-description">Từ lâu, trứng gà là nguồn thực phẩm bổ sung dinh dưỡng
									dồi dào, cung cấp một lượng lớn vitamin và khoáng chất, xuất hiện trong hầu hết các
									bữa ăn gia đình trên toàn thế giới. Trứng gà có thể chế biến được rất nhiều món ăn
									và việc dự trữ trứng gà trong tủ lạnh là thói quen của đa số các bà nội trợ.</div>
								<div class="blog-meta">
									<span class="comment_count">
										<a href="#">0 Bình luận</a>
									</span>
									<span class="author">
										<span>Viết bởi </span>Đạt Phan
									</span>
								</div>

							</div>
						</div>
						<div class="blog-item ">
							<div class="itemBlogImg col-md-4 col-sm-12">
								<div class="article-image banners">
									<div>
										<a class="popup-gallery"
											href="https://thucphamorganicgreen.com/wp-content/uploads/2019/03/ra-dong-thit-bang-nuoc-lanh-hay-lo-vi-song-1.jpg"><img
												src="https://thucphamorganicgreen.com/wp-content/uploads/2019/03/ra-dong-thit-bang-nuoc-lanh-hay-lo-vi-song-1.jpg"
												alt="Kire tuma demonstraverunt lector"></a>
									</div>
								</div>

							</div>
							<div class="itemBlogContent col-md-8 col-sm-12">
								<div class="article-title">
									<h4><a href="blog-detail3.html">Hướng dẫn rã đông thịt lợn đúng cách đảm bảo giá trị
											dinh dưỡng & độ tươi ngon</a></h4>
								</div>
								<div class="article-sub-title">
									<span class="article-date">
										<i class="fa fa-calendar"></i>Chủ Nhật, ngày 5 tháng 12 năm 2021
									</span>
								</div>
								<div class="article-description"> Trong xã hội bận rộn ngày nay, thịt đông lạnh là thực
									phẩm an toàn nhất và cũng thuận tiện để lưu trữ nhất. Tuy nhiên chúng ta không thể
									chế biến miếng thịt cấp đông ngay sau khi lấy chúng ra khỏi ngăn đá tủ lạnh. việc
									cần làm ngay lúc này là rã đông cho miếng thịt. Để miếng thịt rã đông giữ được sự
									tươi ngon và đảm bảo giá trị dinh dưỡng, UITGreen247 hướng dẫn các chị em làm như
									sau... </div>
								<div class="blog-meta">
									<span class="comment_count">
										<a href="#">0 Bình luận</a>
									</span>
									<span class="author">
										<span>Viết bởi </span>Đạt Phan
									</span>
								</div>

							</div>
						</div>
						<div class="blog-item ">
							<div class="itemBlogImg col-md-4 col-sm-12">

								<div class="article-image banners">
									<div>
										<a class="popup-gallery"
											href="https://thucphamorganicgreen.com/wp-content/uploads/2019/03/Suon-ram-man-540-360.jpg"><img
												src="https://thucphamorganicgreen.com/wp-content/uploads/2019/03/Suon-ram-man-540-360.jpg"
												alt="Kire tuma demonstraverunt lector"></a>
									</div>
								</div>
							</div>
							<div class="itemBlogContent col-md-8 col-sm-12">
								<div class="article-title">
									<h4><a href="blog-detail4.html">Cách làm món sườn ram siêu ngon</a></h4>
								</div>
								<div class="article-sub-title">
									<span class="article-date">
										<i class="fa fa-calendar"></i>Thứ Bảy, ngày 4 tháng 12 năm 2021
									</span>
								</div>
								<div class="article-description">Trong những ngày mưa, bạn muốn ăn món gì? Món sườn heo
									thơm ngon ăn cùng với cơm trắng, nước mắm và mỡ hành sẽ rất tuyệt. Để thực hiện món
									sườn ram ngon, bạn lưu ý chọn sườn lợn sạch. Bạn cũng nên chọn các miếng sườn non
									nguyên tấm sạch. Bạn không nên sử dụng thịt lợn không rõ nguồn gốc để đảm bảo sức
									khỏe của gia đình nhé.</div>
								<div class="blog-meta">
									<span class="comment_count">
										<a href="#">0 Bình luận</a>
									</span>
									<span class="author">
										<span>Viết bởi </span>Đăng Đô
									</span>
								</div>

							</div>
						</div>
						<!-- <ul class="pagination">
						<li class="active"><span>1</span></li>
						<li><a href="#">2</a></li>
						<li><a href="#>&gt;</a></li>
						<li><a href="#">&gt;|</a></li>
					</ul> -->

					</div>
				</div>


			</div>
			<!--Middle Part End-->
		</div>
		<!-- //Main Container -->


	</div>


</body>