@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    List<Orders_user> listord = ViewBag.listord;
}
<body class="res layout-subpage">
    <div id="wrapper" class="wrapper-full ">
        <!-- Slider  -->
        <section class="so-slideshow">
            <div id="so-slideshow">
                <div class="module  no-margin">
                    <div class="yt-content-slider yt-content-slider--arrow1" data-autoplay="no" data-autoheight="no"
                         data-delay="4" data-speed="0.6" data-margin="0" data-items_column0="1" data-items_column1="1"
                         data-items_column2="1" data-items_column3="1" data-items_column4="1" data-arrows="yes"
                         data-pagination="no" data-lazyload="yes" data-loop="no" data-hoverpause="yes">
                        <div class="yt-content-slide">
                            <a href="#">
                                <img src="~/image/demo/slider/home7/background-header.png" alt="slider1"
                                     class="img-responsive">
                            </a><br>
                        </div>
                    </div>
                    <div class="loadeding"></div>
                </div>
            </div>

        </section>
        <!-- //end Slider  -->
        <!-- Main Container  -->
        <div class="main-container container">
            <ul class="breadcrumb">
                <li><a href="#"><i class="fa fa-home"></i></a></li>
                <li><a href="#">Lịch sử đặt hàng</a></li>
            </ul>

            <div class="row">
                <!--Middle Part Start-->
                <div id="content" class="col-sm-9">
                    <h2 class="title">Lịch sử đặt hàng</h2>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>                        
                                    <td class="text-center">Mã đơn hàng</td>
                                    <td class="text-center">Trạng thái</td>
                                    <td class="text-center">Ngày mua</td>
                                    <td class="text-right">Tổng</td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                                @if (listord != null)
                                {
                                    @foreach (var item in listord)
                                    {
                                <tr>
                                    <td class="text-center">@item.id_ord</td>
                                    @if (item.status == 0)
                                    {
                                        <td class="text-center">Đã đặt hàng</td>
                                    }
                                    else if (item.status == 1)
                                    {
                                        <td class="text-center">Đã xác nhận</td>
                                    }
                                    else if (item.status == 2)
                                    {
                                        <td class="text-center">Đang vận chuyển</td>
                                    }
                                    else if (item.status == 3)
                                    {
                                        <td class="text-center">Đã giao hàng</td>
                                    }
                                    else if (item.status == 4)
                                    {
                                        <td class="text-center">Đã hủy</td>
                                    }
                                    <td class="text-center">@item.date</td>
                                    <td class="text-right">@String.Format("{0:0,0 VNĐ}", item.price_sum)</td>
                                    <td class="text-center">
                                        <a class="btn btn-info" title="" data-toggle="tooltip" asp-controller="order" asp-action="order_information" asp-route-id="@item.id_ord" data-original-title="Xem đơn hàng"><i class="fa fa-eye"></i></a>
                                    </td>
                                </tr>

                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
                <!--Middle Part End-->
                <!--Right Part Start -->
                <aside class="col-sm-3 hidden-xs" id="column-right">
                    <h2 class="subtitle">Tài khoản</h2>
                    <div class="list-group">
                        <ul class="list-item">
                            <li>
                                <a asp-controller="user" asp-action="myaccount">Thông tin tài khoản</a>
                            </li>
                            <li>
                                <a asp-controller="user" asp-action="password">Đổi mật khẩu</a>
                            </li>
                            <li>
                                <a asp-controller="user" asp-action="wishlist">Danh sách yêu thích</a>
                            </li>                      
                        </ul>
                    </div>
                </aside>
                <!--Right Part End -->
            </div>
        </div>
        <!-- //Main Container -->

    </div>

</body>

